@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h2>Login</h2>

<form action="/User/Submit">

    

    <label for="Email"> Email</label> <br />
    <input id="email" type="email" placeholder="Enter Email" required name="Email"/>
    <br />

    <label for="password"> Password</label> <br />
    <input type="password" placeholder="Enter Your Password" name="Password"/> <br />
    <br />

    <button>Submit</button> 
    <button>Reset</button>








</form>